@model ProjectResume.Models.VolunteerExperience

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>VolunteerExperience</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VolunteerOrganization)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VolunteerOrganization)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VolunteerStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VolunteerStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VolunteerEndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VolunteerEndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VolunteerDuties)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VolunteerDuties)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
