@model IEnumerable<ProjectResume.Models.VolunteerExperience>

@{
    ViewData["Title"] = "Index";
}

<h2>Volunteer Experience</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerOrganization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerDuties)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VolunteerOrganization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunteerStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunteerEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunteerDuties)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
